ARCA-tool.iml
ARCA-tool.ipr
logs
test-result
tmp
modules
db/h2
.idea
!.idea/copyright
!.idea/runConfigurations
!.idea/codeStyleSettings.xml
!.idea/projectCodeStyle.xml
out/
taq
precompiled/
*-*-*-*-*
cobertura.ser
